# Ignore IDE files:
.buildpath
.project
.settings
.idea
.DS_Store
*.log

# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/themes/soak-delta
# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
auth.json
/vendor
git.sh

# WP-CLI
wp-cli.local.yml
cghooks.lock

